<head>
  <link href="/public/css/side-menu.css" rel="stylesheet">
  <link href="/public/css/docs.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" rel="stylesheet">
</head>

<body>

<%- include top-menu.ejs %>

<div class="container-fluid" >
<div class="row flex-xl-nowrap">
<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

<nav class="collapse bd-links" id="bd-docs-nav">

	<div class="bd-toc-item">
		<a class="bd-toc-link" href="/">
			Regions
		</a>
	</div>
	<div class="bd-toc-item">
		<a class="bd-toc-link" href="/instances">
			Instances
		</a>
	</div>

</nav>
</div>